<div class="wpm-header">
  <h1>Words Per Minute</h1>
  <h3>Train your typing skill</h3>
</div>

<div class="p-4">
  <div class="form-group">
    <label class="my-3" for="langSelect">Select a language:</label>
    <select [(ngModel)]="selectedLang"
            (ngModelChange)="selectLanguage()"
            class="form-control mb-5"
            id="langSelect">
      <option *ngFor="let lang of languages" [ngValue]="lang">
        {{lang}}
      </option>
    </select>
  </div>

  <div>
    <a routerLink="/typing" class="btn btn-primary">Start Class</a>
  </div>
</div>
