<div class="wpm-header">
  <h1>Typing Class</h1>
  <h3>To see result press Enter</h3>
</div>

<p class="font-weight-bold my-3">
 <span *ngIf="!classStarted()">Press Enter to start</span>
 <span *ngIf="classStarted()">{{typingTimer}}</span>
</p>

<p>
  <span *ngFor="let letter of randomSentence.split(''); let i = index"
        [ngClass]="progressCss(letter, typedText[i])">{{ letter }}</span>
</p>

<div>
  <label class="sr-only" for="input"></label>
  <input [(ngModel)]="typedText"
         (keypress)="onType($event)"
         (keyup)="testCompletion()"
         id="input"
         class="input-field"
         #inputField />
</div>

<p *ngIf="errors" class="text-danger">You have errors</p>
