<div class="wpm-header">
  <h1>Class Completed</h1>
  <h3>Scoreboard</h3>
</div>

<div class="my-3">
  <p>Class completed {{this.classResult}}</p>
  <p>Total time: {{this.typingTime}}</p>
  <p>Backspace counter: {{this.backspaceCounter}}</p>

  <div class="mt-5">
    <a routerLink="/" class="btn btn-primary">Start Over</a>
  </div>
</div>
